<% content_for :title, t("movies.index.title") %>
<div class="d-flex justify-content-end mb-4">
  <button class="btn btn-primary d-flex align-items-center gap-2">
    <%= image_tag "icons/plus.svg", style: "width: 24px; height: 24px;" %>
    <%= link_to t("movies.index.new_movie"), new_movie_path, style: "color: white; text-decoration: none;" %>
  </button>
</div>

<div id="movies">
  <div class="d-flex justify-content-center gap-4 flex-wrap">
    <% @movies.each do |movie| %>
      <%= render movie %>
    <% end %>
  </div>
</div>

<div class="d-flex justify-content-center mt-4">
  <%= paginate @movies %> 
</div>
