<p style="color: green"><%= notice %></p>

<% content_for :title, I18n.t("movies.index.title") %>

<%= link_to I18n.t("movies.index.new_movie"), new_movie_path %>

<div id="movies" class="">
  <div class="d-flex justify-content-center gap-4 flex-wrap">
    <% @movies.each do |movie| %>
      <%= render movie %>
    <% end %>
  </div>
</div>

<%= paginate @movies %>