<% content_for :title,  t('movies.new.title') %>

<h1><%= t('movies.new.heading') %></h1>

<%= render "form", movie: @movie %>

<br>

<div>
  <%= link_to t('movies.index.back'), movies_path, class: "btn btn-secondary" %>
</div>
