<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Importação concluída com sucesso!</h1>
    <p>Olá <%= @user.email %>,</p>
    <p>Sua importação de filmes foi concluída com sucesso.</p>
  </body>
</html>
